@charset "UTF-8";
.modal-timespent {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.modal-timespent * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.modal-timespent .timespent-comment {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.modal-timespent .timespent-date {
  margin-right: 4px;
}
.modal-timespent .timespent-datehour, .modal-timespent .timespent-datemin, .modal-timespent .timespent-hour, .modal-timespent .timespent-min {
  max-width: 35px !important;
}
.modal-timespent .modal-footer {
  padding-top: 0 !important;
}

/*--------------------------------------------------------------
	Module : Dropdown
	Version : 1.0.0

	.wpeo-dropdown -> classe de base du mobule
		.grid -> Affichage en grille
		.list -> Affichage en liste
--------------------------------------------------------------*/
.wpeo-dropdown {
  position: relative;
  display: inline-block;
}
.wpeo-dropdown .dropdown-toggle {
  display: inline-block;
}
.wpeo-dropdown .dropdown-toggle span ~ *[class*=icon] {
  margin-left: 10px;
}
.wpeo-dropdown .dropdown-content {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  position: absolute;
  background: #fff;
  z-index: 99;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
  width: 220px;
  padding: 0.6em;
}
.wpeo-dropdown.dropdown-active .dropdown-content {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.wpeo-dropdown ul, .wpeo-dropdown li {
  margin: 0;
  list-style-type: none;
  padding: 0;
}
.wpeo-dropdown .dropdown-item {
  display: block;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}
.wpeo-dropdown .dropdown-item::before {
  display: none;
  content: "";
}
.wpeo-dropdown .dropdown-item .dropdown-result-title, .wpeo-dropdown .dropdown-item .dropdown-result-subtitle {
  display: block;
}
.wpeo-dropdown .dropdown-item .dropdown-result-title {
  font-size: 14px;
}
.wpeo-dropdown .dropdown-item .dropdown-result-subtitle {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

/** Taille */
.wpeo-dropdown.dropdown-small .dropdown-content {
  width: 60px;
}
.wpeo-dropdown.dropdown-medium .dropdown-content {
  width: 220px;
}
.wpeo-dropdown.dropdown-large .dropdown-content {
  width: 360px;
}

/** Padding */
.wpeo-dropdown.dropdown-padding-0 .dropdown-content {
  padding: 0;
}
.wpeo-dropdown.dropdown-padding-1 .dropdown-content {
  padding: 0.6em;
}
.wpeo-dropdown.dropdown-padding-2 .dropdown-content {
  padding: 1.2em;
}

/** Alignement */
.wpeo-dropdown.dropdown-left .dropdown-content {
  left: 0;
}
.wpeo-dropdown.dropdown-right .dropdown-content {
  right: 0;
}
.wpeo-dropdown.dropdown-horizontal.dropdown-left .dropdown-content {
  left: 100%;
}
.wpeo-dropdown.dropdown-horizontal.dropdown-right .dropdown-content {
  right: 100%;
}

/** Sens */
.wpeo-dropdown.dropdown-horizontal .dropdown-content {
  top: 0;
  width: auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

/** Disable */
.wpeo-dropdown .dropdown-item.dropdown-item-disable {
  opacity: 0.6;
  cursor: default !important;
  pointer-events: none;
}
.wpeo-dropdown .dropdown-content .dropdown-item {
  padding: 0.6em;
  background: #fff;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.wpeo-dropdown .dropdown-content .dropdown-item:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
}

.wpeo-dropdown.dropdown-list .dropdown-content {
  text-align: left;
}
.wpeo-dropdown.dropdown-list .dropdown-item::after {
  display: block;
  content: "";
  clear: both;
}
.wpeo-dropdown.dropdown-list .dropdown-item img {
  float: left;
  margin-right: 0.4em;
}

.wpeo-dropdown.dropdown-grid .dropdown-item img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
}

/*--------------------------------------------------------------
	Module : Button
	Version : 1.2.0

 * Les boutons se forment grâce à leurs classes CSS
 * .button -> classe de base pour un bouton
 * 		.primary
 * 		.light
 * 		.dark
 * 		.red
 * 		.yellow
 * 		.blue
 * 		.green
 * 		.transparent
 * .bordered -> Change l'affichage du bouton. Fonctionne avec les même couleurs
 * .strong -> texte en gras
 * .uppercase -> texte en majuscule
 * .float-right -> float right
 * .float-left -> float left
 * .square-30 -> bouton carré 30px
 * .square-40 -> bouton carré 40px
 * .square-50 -> bouton carré 50px
 * .square-60 -> bouton carré 60px
 * .margin -> margin haut et bas sur le bouton
 * .radius-1 -> Arrondis les bords
 * .radius-3 -> Arrondis les bords
 * .radius-3 -> Arrondis les bords
 * .rounded -> bouton en forme de rond
 * .disable -> désactive les actions sur le bouton
 * .size-small -> petite taille
 * .size-large -> grande taille
--------------------------------------------------------------*/
.wpeo-button {
  display: inline-block;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  text-decoration: none;
  padding: 6px 14px;
  line-height: 1.4;
  vertical-align: middle;
  height: auto;
  border-radius: 0;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  position: relative;
  border-width: 3px;
  border-style: solid;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #0d8aff;
  border-color: #0d8aff;
  color: #fff;
}
.wpeo-button:focus, .wpeo-button:visited {
  color: #fff;
}
.wpeo-button:hover {
  color: #fff;
  -webkit-box-shadow: inset 0 -2.6em rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 -2.6em rgba(255, 255, 255, 0.25);
  cursor: pointer;
  text-decoration: none;
}
.wpeo-button:focus, .wpeo-button:active {
  outline: none;
}

/** Colors */
.wpeo-button {
  /* par défaut */
  background: #0d8aff;
  border-color: #0d8aff;
  color: #fff;
}
.wpeo-button.button-main {
  background: #0d8aff;
  border-color: #0d8aff;
  color: #fff;
}
.wpeo-button.button-secondary {
  background: #263C5C;
  border-color: #263C5C;
  color: #fff;
}
.wpeo-button.button-light {
  background: #fff;
  border-color: #fff;
  color: #333333;
}
.wpeo-button.button-light:hover {
  -webkit-box-shadow: inset 0 -2.6em rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -2.6em rgba(0, 0, 0, 0.1);
  color: #333333;
}
.wpeo-button.button-dark {
  background: #2b2b2b;
  border-color: #2b2b2b;
}
.wpeo-button.button-grey {
  background: #ececec;
  border-color: #ececec;
  color: #333333;
}
.wpeo-button.button-grey:hover {
  -webkit-box-shadow: inset 0 -2.6em rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -2.6em rgba(0, 0, 0, 0.1);
  color: #333333;
}
.wpeo-button.button-red {
  background: #e05353;
  border-color: #e05353;
}
.wpeo-button.button-yellow {
  background: #e9ad4f;
  border-color: #e9ad4f;
}
.wpeo-button.button-blue {
  background: #0d8aff;
  border-color: #0d8aff;
}
.wpeo-button.button-green {
  background: #47e58e;
  border-color: #47e58e;
}
.wpeo-button.button-transparent {
  background: transparent;
  border-color: transparent;
  color: rgba(51, 51, 51, 0.4);
}
.wpeo-button.button-transparent:hover {
  color: #333333;
  -webkit-box-shadow: inset 0 -2.6em rgba(255, 255, 255, 0);
  box-shadow: inset 0 -2.6em rgba(255, 255, 255, 0);
}

.wpeo-button.button-bordered {
  background: none;
  /* Par defaut */
  border-color: #0d8aff;
  color: #0d8aff;
}
.wpeo-button.button-bordered.button-main {
  border-color: #0d8aff;
  color: #0d8aff;
}
.wpeo-button.button-bordered.button-main:hover {
  -webkit-box-shadow: inset 0 -2.6em #0d8aff;
  box-shadow: inset 0 -2.6em #0d8aff;
  color: #fff;
}
.wpeo-button.button-bordered.button-light {
  border-color: #fff;
  color: #fff;
}
.wpeo-button.button-bordered.button-light:hover {
  -webkit-box-shadow: inset 0 -2.6em #fff;
  box-shadow: inset 0 -2.6em #fff;
  color: #333333;
}
.wpeo-button.button-bordered.button-dark {
  border-color: #2b2b2b;
  color: #2b2b2b;
}
.wpeo-button.button-bordered.button-dark:hover {
  -webkit-box-shadow: inset 0 -2.6em #2b2b2b;
  box-shadow: inset 0 -2.6em #2b2b2b;
}
.wpeo-button.button-bordered.button-grey {
  border-color: #ececec;
  color: #a0a0a0;
}
.wpeo-button.button-bordered.button-grey:hover {
  -webkit-box-shadow: inset 0 -2.6em #ececec;
  box-shadow: inset 0 -2.6em #ececec;
  color: #333333;
}
.wpeo-button.button-bordered.button-red {
  border-color: #e05353;
  color: #e05353;
}
.wpeo-button.button-bordered.button-red:hover {
  -webkit-box-shadow: inset 0 -2.6em #e05353;
  box-shadow: inset 0 -2.6em #e05353;
}
.wpeo-button.button-bordered.button-yellow {
  border-color: #e9ad4f;
  color: #e9ad4f;
}
.wpeo-button.button-bordered.button-yellow:hover {
  -webkit-box-shadow: inset 0 -2.6em #e9ad4f;
  box-shadow: inset 0 -2.6em #e9ad4f;
}
.wpeo-button.button-bordered.button-blue {
  border-color: #0d8aff;
  color: #0d8aff;
}
.wpeo-button.button-bordered.button-blue:hover {
  -webkit-box-shadow: inset 0 -2.6em #0d8aff;
  box-shadow: inset 0 -2.6em #0d8aff;
}
.wpeo-button.button-bordered.button-green {
  border-color: #47e58e;
  color: #47e58e;
}
.wpeo-button.button-bordered.button-green:hover {
  -webkit-box-shadow: inset 0 -2.6em #47e58e;
  box-shadow: inset 0 -2.6em #47e58e;
}
.wpeo-button.button-bordered:hover {
  -webkit-box-shadow: inset 0 -2.6em #0d8aff;
  box-shadow: inset 0 -2.6em #0d8aff;
  color: #fff;
}

.wpeo-button .button-add {
  position: absolute;
  top: 0.4em;
  right: 0.2em;
  opacity: 0.6;
  font-size: 14px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.wpeo-button:hover .button-add {
  opacity: 0.8;
}

.wpeo-button.button-square-40 .button-add {
  top: 0.1em;
  right: 0;
}

.wpeo-button .button-icon, .wpeo-button span {
  position: relative;
}
.wpeo-button .button-icon ~ span {
  margin-left: 10px;
}
.wpeo-button span ~ .button-icon {
  margin-left: 10px;
}

.wpeo-button.button-strong span {
  font-weight: 800;
}

.wpeo-button.button-uppercase span {
  text-transform: uppercase;
  font-size: 14px;
}

.wpeo-button[class*=button-square-] {
  text-align: center;
  overflow: hidden;
  padding: 0;
}

.wpeo-button.button-square-30 {
  width: 30px;
  height: 30px;
  line-height: 24px;
}
.wpeo-button.button-square-30 .button-icon {
  font-size: 12px;
  line-height: 24px;
}

.wpeo-button.button-square-40 {
  width: 40px;
  height: 40px;
  line-height: 34px;
}
.wpeo-button.button-square-40 .button-icon {
  line-height: 34px;
}

.wpeo-button.button-square-50 {
  width: 50px;
  height: 50px;
  line-height: 44px;
}
.wpeo-button.button-square-50 .button-icon {
  line-height: 44px;
}

.wpeo-button.button-square-60 {
  width: 60px;
  height: 60px;
  line-height: 54px;
}
.wpeo-button.button-square-60 .button-icon {
  line-height: 54px;
}

.wpeo-button.button-float-left {
  float: left;
}
.wpeo-button.button-float-right {
  float: right;
}

.wpeo-button.button-margin {
  margin: 1em 0;
}

.wpeo-button.button-radius-1 {
  border-radius: 2px;
}
.wpeo-button.button-radius-2 {
  border-radius: 4px;
}
.wpeo-button.button-radius-3 {
  border-radius: 6px;
}
.wpeo-button.button-rounded {
  border-radius: 50%;
}

.wpeo-button.button-disable {
  background: #ececec !important;
  border-color: #ececec !important;
  color: rgba(0, 0, 0, 0.4) !important;
  pointer-events: none;
}
.wpeo-button.button-disable:hover {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.wpeo-button.button-disable.button-event {
  pointer-events: all;
}

.wpeo-button.button-size-small {
  font-size: 14px;
}
.wpeo-button.button-size-small.button-uppercase span {
  font-size: 12px;
}

.wpeo-button.button-size-large {
  font-size: 18px;
}
.wpeo-button.button-size-large.button-uppercase span {
  font-size: 16px;
}

/*--------------------------------------------------------------
	Module : Modal
	Version : 1.0.0

	.wpeo-modal -> classe de base du mobule
	.modalactive -> lance l'apparition de la modal
	.no-modal-close -> désactive l'icone fermeture
--------------------------------------------------------------*/
.wpeo-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(39, 42, 53, 0.9);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.wpeo-modal textarea {
  resize: none;
}
.wpeo-modal.modal-active {
  opacity: 1;
  pointer-events: auto;
  z-index: 1002;
}
.wpeo-modal.modal-active .modal-container {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.wpeo-modal.modal-active textarea {
  resize: both;
}
.wpeo-modal.modal-active .modal-active {
  z-index: 1003;
}
.wpeo-modal.modal-active .modal-active .modal-active {
  z-index: 1004;
}
.wpeo-modal.modal-force-display .modal-close {
  display: none;
}

.wpeo-modal .modal-container {
  position: absolute;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 100%;
  max-width: 860px;
  height: 100%;
  max-height: 560px;
  background: #fff;
  padding: 1em 0;
  margin: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -60%);
  transform: translate(-50%, -60%);
}
@media (max-width: 480px) {
  .wpeo-modal .modal-container {
    padding: 1em;
  }
}
.wpeo-modal .modal-container .modal-header {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2em;
}
.wpeo-modal .modal-container .modal-content {
  height: 78%;
  padding: 0 2em;
}
.wpeo-modal .modal-container .modal-footer {
  height: 12%;
  padding: 0 2em;
}
.wpeo-modal .modal-container .modal-header .modal-title, .wpeo-modal .modal-container .modal-header .modal-close {
  margin: auto 0;
}
.wpeo-modal .modal-container .modal-header .modal-title {
  text-transform: uppercase;
  font-size: 18px;
  white-space: normal;
}
@media (max-width: 770px) {
  .wpeo-modal .modal-container .modal-header .modal-title {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .wpeo-modal .modal-container .modal-header .modal-title {
    font-size: 14px;
  }
}
.wpeo-modal .modal-container .modal-header .modal-close {
  margin-left: auto;
  color: rgba(0, 0, 0, 0.3);
  padding: 4px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.wpeo-modal .modal-container .modal-header .modal-close:hover {
  cursor: pointer;
  color: #0d8aff;
}
.wpeo-modal .modal-container .modal-content {
  overflow-y: auto;
  font-size: 14px;
}
@media (max-width: 480px) {
  .wpeo-modal .modal-container .modal-content {
    font-size: 12px;
  }
}
.wpeo-modal .modal-container .modal-footer {
  text-align: right;
  padding-top: 1em;
}
.wpeo-modal .modal-container .modal-footer.left {
  text-align: left;
}
.wpeo-modal .modal-container .modal-footer.center {
  text-align: center;
}

/*--------------------------------------------------------------
	Module : Loader
	Version : 1.0.0

	.wpeo-loader => classe de base pour le module
	.loader-spin => icone de chargement
--------------------------------------------------------------*/
.wpeo-loader {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  pointer-events: none;
  opacity: 0.5;
  position: relative;
}
.wpeo-loader .loader-spin {
  position: absolute;
  border: 3px solid #a7a7a7;
  border-top: 3px solid #002140;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  z-index: 99;
  left: 50%;
  top: 50%;
  margin: 0 !important;
  padding: 0 !important;
  -webkit-animation: loader-spin 1s ease-out infinite;
  animation: loader-spin 1s ease-out infinite;
}

@-webkit-keyframes loader-spin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes loader-spin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
/*--------------------------------------------------------------
	Module : Gridlayout
	Version : 1.5.0

    * Classes pour l'élément parent
	.wpeo-gridlayout -> classe de base du mobule
	.grid-X          -> Définit le nombre de colonnes
	.grid-margin-X   -> Ajoute des marges au dessus et en dessous du parent
	.grid-gap-X      -> Définit les gouttières des colonnes

	* Classes pour les enfants direct
	.gridw-X -> Change la largeur du bloc enfant (gridw-2 = 2 fois la taille initiale)
	.gridh-X -> Change la hauteur du bloc enfant (gridh-2 = 2 fois la taille initiale)
--------------------------------------------------------------*/
.wpeo-gridlayout {
  display: grid;
  grid-gap: 1em 1em;
  grid-template-columns: repeat(4, 1fr);
}

/** Définition des tailles */
.wpeo-gridlayout {
  /** Du parent */
  /** Chaque enfant peut modifier sa propre taille */
  /** Chaque enfant peut modifier sa propre taille */
  /** Chaque enfant peut modifier sa propre taille */
  /** Chaque enfant peut modifier sa propre taille */
  /** Chaque enfant peut modifier sa propre taille */
  /** Chaque enfant peut modifier sa propre taille */
}
.wpeo-gridlayout.grid-1 {
  grid-template-columns: repeat(1, 1fr);
}
.wpeo-gridlayout.grid-1 > .gridw-1 {
  grid-column: auto/span 1;
}
.wpeo-gridlayout.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.wpeo-gridlayout.grid-2 > .gridw-1 {
  grid-column: auto/span 1;
}
.wpeo-gridlayout.grid-2 > .gridw-2 {
  grid-column: auto/span 2;
}
@media (max-width: 770px) {
  .wpeo-gridlayout.grid-2 > .gridw-2 {
    grid-column: auto/span 2;
  }
}
.wpeo-gridlayout.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.wpeo-gridlayout.grid-3 > .gridw-1 {
  grid-column: auto/span 1;
}
.wpeo-gridlayout.grid-3 > .gridw-2 {
  grid-column: auto/span 2;
}
@media (max-width: 770px) {
  .wpeo-gridlayout.grid-3 > .gridw-2 {
    grid-column: auto/span 2;
  }
}
.wpeo-gridlayout.grid-3 > .gridw-3 {
  grid-column: auto/span 3;
}
@media (max-width: 770px) {
  .wpeo-gridlayout.grid-3 > .gridw-3 {
    grid-column: auto/span 2;
  }
}
.wpeo-gridlayout.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}
.wpeo-gridlayout.grid-4 > .gridw-1 {
  grid-column: auto/span 1;
}
.wpeo-gridlayout.grid-4 > .gridw-2 {
  grid-column: auto/span 2;
}
@media (max-width: 770px) {
  .wpeo-gridlayout.grid-4 > .gridw-2 {
    grid-column: auto/span 2;
  }
}
.wpeo-gridlayout.grid-4 > .gridw-3 {
  grid-column: auto/span 3;
}
@media (max-width: 770px) {
  .wpeo-gridlayout.grid-4 > .gridw-3 {
    grid-column: auto/span 2;
  }
}
.wpeo-gridlayout.grid-4 > .gridw-4 {
  grid-column: auto/span 4;
}
@media (max-width: 770px) {
  .wpeo-gridlayout.grid-4 > .gridw-4 {
    grid-column: auto/span 2;
  }
}
.wpeo-gridlayout.grid-5 {
  grid-template-columns: repeat(5, 1fr);
}
.wpeo-gridlayout.grid-5 > .gridw-1 {
  grid-column: auto/span 1;
}
.wpeo-gridlayout.grid-5 > .gridw-2 {
  grid-column: auto/span 2;
}
@media (max-width: 770px) {
  .wpeo-gridlayout.grid-5 > .gridw-2 {
    grid-column: auto/span 2;
  }
}
.wpeo-gridlayout.grid-5 > .gridw-3 {
  grid-column: auto/span 3;
}
@media (max-width: 770px) {
  .wpeo-gridlayout.grid-5 > .gridw-3 {
    grid-column: auto/span 2;
  }
}
.wpeo-gridlayout.grid-5 > .gridw-4 {
  grid-column: auto/span 4;
}
@media (max-width: 770px) {
  .wpeo-gridlayout.grid-5 > .gridw-4 {
    grid-column: auto/span 2;
  }
}
.wpeo-gridlayout.grid-5 > .gridw-5 {
  grid-column: auto/span 5;
}
@media (max-width: 770px) {
  .wpeo-gridlayout.grid-5 > .gridw-5 {
    grid-column: auto/span 2;
  }
}
.wpeo-gridlayout.grid-6 {
  grid-template-columns: repeat(6, 1fr);
}
.wpeo-gridlayout.grid-6 > .gridw-1 {
  grid-column: auto/span 1;
}
.wpeo-gridlayout.grid-6 > .gridw-2 {
  grid-column: auto/span 2;
}
@media (max-width: 770px) {
  .wpeo-gridlayout.grid-6 > .gridw-2 {
    grid-column: auto/span 2;
  }
}
.wpeo-gridlayout.grid-6 > .gridw-3 {
  grid-column: auto/span 3;
}
@media (max-width: 770px) {
  .wpeo-gridlayout.grid-6 > .gridw-3 {
    grid-column: auto/span 2;
  }
}
.wpeo-gridlayout.grid-6 > .gridw-4 {
  grid-column: auto/span 4;
}
@media (max-width: 770px) {
  .wpeo-gridlayout.grid-6 > .gridw-4 {
    grid-column: auto/span 2;
  }
}
.wpeo-gridlayout.grid-6 > .gridw-5 {
  grid-column: auto/span 5;
}
@media (max-width: 770px) {
  .wpeo-gridlayout.grid-6 > .gridw-5 {
    grid-column: auto/span 2;
  }
}
.wpeo-gridlayout.grid-6 > .gridw-6 {
  grid-column: auto/span 6;
}
@media (max-width: 770px) {
  .wpeo-gridlayout.grid-6 > .gridw-6 {
    grid-column: auto/span 2;
  }
}

/** Définition des hauteur des enfants */
.wpeo-gridlayout > .gridh-1 {
  grid-row: auto/span 1;
}
@media (max-width: 770px) {
  .wpeo-gridlayout > .gridh-1 {
    grid-row: auto/span 1 !important;
  }
}
.wpeo-gridlayout > .gridh-2 {
  grid-row: auto/span 2;
}
@media (max-width: 770px) {
  .wpeo-gridlayout > .gridh-2 {
    grid-row: auto/span 1 !important;
  }
}
.wpeo-gridlayout > .gridh-3 {
  grid-row: auto/span 3;
}
@media (max-width: 770px) {
  .wpeo-gridlayout > .gridh-3 {
    grid-row: auto/span 1 !important;
  }
}
.wpeo-gridlayout > .gridh-4 {
  grid-row: auto/span 4;
}
@media (max-width: 770px) {
  .wpeo-gridlayout > .gridh-4 {
    grid-row: auto/span 1 !important;
  }
}
.wpeo-gridlayout > .gridh-5 {
  grid-row: auto/span 5;
}
@media (max-width: 770px) {
  .wpeo-gridlayout > .gridh-5 {
    grid-row: auto/span 1 !important;
  }
}
.wpeo-gridlayout > .gridh-6 {
  grid-row: auto/span 6;
}
@media (max-width: 770px) {
  .wpeo-gridlayout > .gridh-6 {
    grid-row: auto/span 1 !important;
  }
}

/** Marges */
.wpeo-gridlayout.grid-margin-0 {
  margin: 0em 0;
}
.wpeo-gridlayout.grid-margin-1 {
  margin: 1em 0;
}
.wpeo-gridlayout.grid-margin-2 {
  margin: 2em 0;
}
.wpeo-gridlayout.grid-margin-3 {
  margin: 3em 0;
}
.wpeo-gridlayout.grid-margin-4 {
  margin: 4em 0;
}
.wpeo-gridlayout.grid-margin-5 {
  margin: 5em 0;
}
.wpeo-gridlayout.grid-margin-6 {
  margin: 6em 0;
}

/** Gouttières */
.wpeo-gridlayout.grid-gap-0 {
  grid-gap: 0em 0em;
}
.wpeo-gridlayout.grid-gap-1 {
  grid-gap: 1em 1em;
}
.wpeo-gridlayout.grid-gap-2 {
  grid-gap: 2em 2em;
}
.wpeo-gridlayout.grid-gap-3 {
  grid-gap: 3em 3em;
}
.wpeo-gridlayout.grid-gap-4 {
  grid-gap: 4em 4em;
}
.wpeo-gridlayout.grid-gap-5 {
  grid-gap: 5em 5em;
}
.wpeo-gridlayout.grid-gap-6 {
  grid-gap: 6em 6em;
}

/** Alignements */
.wpeo-gridlayout .grid-align-center {
  margin-left: auto;
  margin-right: auto;
}
.wpeo-gridlayout .grid-align-right {
  margin-left: auto;
}
.wpeo-gridlayout .grid-align-middle {
  margin-top: auto;
  margin-bottom: auto;
}
.wpeo-gridlayout .grid-align-bottom {
  margin-top: auto;
}

/** Media queries */
@media (max-width: 480px) {
  .wpeo-gridlayout:not(.dropdown-content).grid-2 {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
@media (max-width: 770px) {
  .wpeo-gridlayout:not(.dropdown-content).grid-3 {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media (max-width: 480px) {
  .wpeo-gridlayout:not(.dropdown-content).grid-3 {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
@media (max-width: 770px) {
  .wpeo-gridlayout:not(.dropdown-content).grid-4 {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media (max-width: 480px) {
  .wpeo-gridlayout:not(.dropdown-content).grid-4 {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
@media (max-width: 770px) {
  .wpeo-gridlayout:not(.dropdown-content).grid-5 {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media (max-width: 480px) {
  .wpeo-gridlayout:not(.dropdown-content).grid-5 {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
@media (max-width: 770px) {
  .wpeo-gridlayout:not(.dropdown-content).grid-6 {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media (max-width: 480px) {
  .wpeo-gridlayout:not(.dropdown-content).grid-6 {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
@media (max-width: 480px) {
  .wpeo-gridlayout:not(.dropdown-content) > * {
    grid-column: auto/span 1 !important;
  }
}

/*--------------------------------------------------------------
	Module : Table
	Version : 1.0.0
	.wpeo-table -> classe de base du mobule
--------------------------------------------------------------*/
/*--------------------------------------------------------------
	Table Flex

    .table-25  : max-width: 25px
    .table-50  : max-width: 50px
    .table-75  : max-width: 75px
    .table-100 : max-width: 100px
    ...
    .table-500 : max-width: 500px;

    .table-end       : Utiliser la classe table-end justifie la cellule sur la droite
    .table-padding-0 : Enleve les marges internes d’une cellule
--------------------------------------------------------------*/
.wpeo-table.table-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 14px;
}

/** Ligne */
.wpeo-table.table-flex .table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.wpeo-table.table-flex .table-row:not(.table-header):nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.05);
}

/** Ligne entete */
.wpeo-table.table-flex .table-row.table-header {
  background: #263C5C;
}
.wpeo-table.table-flex .table-row.table-header .table-cell {
  font-weight: 700;
  color: #fff;
}

/** Cellule */
.wpeo-table.table-flex .table-cell {
  margin: auto 0;
  width: 100%;
  padding: 0.8em 0.6em;
}
@media (max-width: 770px) {
  .wpeo-table.table-flex .table-cell {
    padding: 0.4em;
  }
}

/** Taille générale des cellules */
.wpeo-table.table-flex.table-1 .table-cell {
  width: 100%;
}
.wpeo-table.table-flex.table-2 .table-cell {
  width: 50%;
}
.wpeo-table.table-flex.table-3 .table-cell {
  width: 33.3333333333%;
}
.wpeo-table.table-flex.table-4 .table-cell {
  width: 25%;
}
.wpeo-table.table-flex.table-5 .table-cell {
  width: 20%;
}
.wpeo-table.table-flex.table-6 .table-cell {
  width: 16.6666666667%;
}
.wpeo-table.table-flex.table-7 .table-cell {
  width: 14.2857142857%;
}
.wpeo-table.table-flex.table-8 .table-cell {
  width: 12.5%;
}
.wpeo-table.table-flex.table-9 .table-cell {
  width: 11.1111111111%;
}
.wpeo-table.table-flex.table-10 .table-cell {
  width: 10%;
}

/** Taille spécifiques des cellules */
.wpeo-table.table-flex .table-cell.table-25 {
  max-width: 25px;
  min-width: 25px;
}
.wpeo-table.table-flex .table-cell.table-50 {
  max-width: 50px;
  min-width: 50px;
}
.wpeo-table.table-flex .table-cell.table-75 {
  max-width: 75px;
  min-width: 75px;
}
.wpeo-table.table-flex .table-cell.table-100 {
  max-width: 100px;
  min-width: 100px;
}
.wpeo-table.table-flex .table-cell.table-125 {
  max-width: 125px;
  min-width: 125px;
}
.wpeo-table.table-flex .table-cell.table-150 {
  max-width: 150px;
  min-width: 150px;
}
.wpeo-table.table-flex .table-cell.table-175 {
  max-width: 175px;
  min-width: 175px;
}
.wpeo-table.table-flex .table-cell.table-200 {
  max-width: 200px;
  min-width: 200px;
}
.wpeo-table.table-flex .table-cell.table-225 {
  max-width: 225px;
  min-width: 225px;
}
.wpeo-table.table-flex .table-cell.table-250 {
  max-width: 250px;
  min-width: 250px;
}
.wpeo-table.table-flex .table-cell.table-275 {
  max-width: 275px;
  min-width: 275px;
}
.wpeo-table.table-flex .table-cell.table-300 {
  max-width: 300px;
  min-width: 300px;
}
.wpeo-table.table-flex .table-cell.table-325 {
  max-width: 325px;
  min-width: 325px;
}
.wpeo-table.table-flex .table-cell.table-350 {
  max-width: 350px;
  min-width: 350px;
}
.wpeo-table.table-flex .table-cell.table-375 {
  max-width: 375px;
  min-width: 375px;
}
.wpeo-table.table-flex .table-cell.table-400 {
  max-width: 400px;
  min-width: 400px;
}
.wpeo-table.table-flex .table-cell.table-425 {
  max-width: 425px;
  min-width: 425px;
}
.wpeo-table.table-flex .table-cell.table-450 {
  max-width: 450px;
  min-width: 450px;
}
.wpeo-table.table-flex .table-cell.table-475 {
  max-width: 475px;
  min-width: 475px;
}
.wpeo-table.table-flex .table-cell.table-500 {
  max-width: 500px;
  min-width: 500px;
}
.wpeo-table.table-flex .table-cell.table-full {
  width: 100%;
}

/** Différentes classes */
.wpeo-table.table-flex .table-cell.table-end {
  text-align: right;
  margin-left: auto;
}
.wpeo-table.table-flex .table-cell.table-padding-0 {
  padding: 0;
}

/** Responsive mobile */
@media (max-width: 480px) {
  .wpeo-table.table-flex .table-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .wpeo-table.table-flex .table-cell {
    width: 100%;
  }
}
/*--------------------------------------------------------------
	Module : Tooltip
	Version : 1.0.0

	.wpeo-tooltip -> classe de base du mobule
	.tooltip-primary -> tooltip sur fond rouge
	.tooltip-light -> tooltip sur fond rouge
	.tooltip-red -> tooltip sur fond rouge
--------------------------------------------------------------*/
.wpeo-tooltip {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 99999;
  white-space: nowrap;
  background: #2b2b2b;
  color: #fff;
  border-radius: 6px;
  font-size: 0.8rem;
  padding: 0 1em;
  height: 2.2em;
  line-height: 2.2em;
}
.wpeo-tooltip::before {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
}
.wpeo-tooltip:focus {
  outline: none;
}

/* Couleurs */
.wpeo-tooltip.tooltip-dark {
  background: #2b2b2b;
}
.wpeo-tooltip.tooltip-dark.tooltip-top::before {
  border-color: #2b2b2b transparent transparent transparent;
}
.wpeo-tooltip.tooltip-dark.tooltip-right::before {
  border-color: transparent #2b2b2b transparent transparent;
}
.wpeo-tooltip.tooltip-dark.tooltip-bottom::before {
  border-color: transparent transparent #2b2b2b transparent;
}
.wpeo-tooltip.tooltip-dark.tooltip-left::before {
  border-color: transparent transparent transparent #2b2b2b;
}
.wpeo-tooltip.tooltip-primary {
  background: #0d8aff;
}
.wpeo-tooltip.tooltip-primary.tooltip-top::before {
  border-color: #0d8aff transparent transparent transparent;
}
.wpeo-tooltip.tooltip-primary.tooltip-right::before {
  border-color: transparent #0d8aff transparent transparent;
}
.wpeo-tooltip.tooltip-primary.tooltip-bottom::before {
  border-color: transparent transparent #0d8aff transparent;
}
.wpeo-tooltip.tooltip-primary.tooltip-left::before {
  border-color: transparent transparent transparent #0d8aff;
}
.wpeo-tooltip.tooltip-light {
  background: #ececec;
  color: rgba(0, 0, 0, 0.6);
}
.wpeo-tooltip.tooltip-light.tooltip-top::before {
  border-color: #ececec transparent transparent transparent;
}
.wpeo-tooltip.tooltip-light.tooltip-right::before {
  border-color: transparent #ececec transparent transparent;
}
.wpeo-tooltip.tooltip-light.tooltip-bottom::before {
  border-color: transparent transparent #ececec transparent;
}
.wpeo-tooltip.tooltip-light.tooltip-left::before {
  border-color: transparent transparent transparent #ececec;
}
.wpeo-tooltip.tooltip-red {
  background: #e05353;
}
.wpeo-tooltip.tooltip-red.tooltip-top::before {
  border-color: #e05353 transparent transparent transparent;
}
.wpeo-tooltip.tooltip-red.tooltip-right::before {
  border-color: transparent #e05353 transparent transparent;
}
.wpeo-tooltip.tooltip-red.tooltip-bottom::before {
  border-color: transparent transparent #e05353 transparent;
}
.wpeo-tooltip.tooltip-red.tooltip-left::before {
  border-color: transparent transparent transparent #e05353;
}

/* Position de la fleche */
.wpeo-tooltip.tooltip-top::before {
  border-width: 6px 6px 0 6px;
  border-color: #2b2b2b transparent transparent transparent;
  bottom: -6px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.wpeo-tooltip.tooltip-right::before {
  border-width: 6px 6px 6px 0;
  border-color: transparent #2b2b2b transparent transparent;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -6px;
}
.wpeo-tooltip.tooltip-bottom::before {
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #2b2b2b transparent;
  top: -6px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.wpeo-tooltip.tooltip-left::before {
  border-width: 6px 0 6px 6px;
  border-color: transparent transparent transparent #2b2b2b;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -6px;
}

/*--------------------------------------------------------------
	Module : Notice
	Version : 1.0.0

	.wpeo-notice -> classe de base du mobule
--------------------------------------------------------------*/
/* General */
.wpeo-notice {
  position: relative;
  font-size: 1em;
  padding: 1em;
  overflow: hidden;
  border-radius: 3px;
  border: solid #eee 1px;
  margin: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.wpeo-notice::before {
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 24px;
}
.wpeo-notice .notice-content {
  width: 100%;
  padding: 0 1em;
  color: rgba(0, 0, 0, 0.6);
}
.wpeo-notice .notice-title {
  font-size: 20px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
}
.wpeo-notice .notice-subtitle {
  font-size: 14px;
}
.wpeo-notice .notice-close {
  color: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.wpeo-notice .notice-close:hover {
  color: #0d8aff;
  cursor: pointer;
}
.wpeo-notice ul {
  padding: 0 0 0 1.4em;
  margin: 0.4em 0;
}

/** Status */
/** Info */
.wpeo-notice.notice-info {
  border-left: solid #0d8aff 6px;
  color: #0d8aff;
  background: rgba(13, 138, 255, 0.05);
}
.wpeo-notice.notice-info::before {
  content: "\f05a";
}
.wpeo-notice.notice-info .notice-title, .wpeo-notice.notice-info .notice-subtitle, .wpeo-notice.notice-info a {
  color: #0d8aff;
}

/** Error */
.wpeo-notice.notice-error {
  border-left: solid #e05353 6px;
  color: #e05353;
  background: rgba(224, 83, 83, 0.05);
}
.wpeo-notice.notice-error::before {
  content: "\f057";
}
.wpeo-notice.notice-error .notice-title, .wpeo-notice.notice-error .notice-subtitle, .wpeo-notice.notice-error a {
  color: #e05353;
}

/** Warning */
.wpeo-notice.notice-warning {
  border-left: solid #e9ad4f 6px;
  color: #e9ad4f;
  background: rgba(233, 173, 79, 0.05);
}
.wpeo-notice.notice-warning::before {
  content: "\f071";
}
.wpeo-notice.notice-warning .notice-title, .wpeo-notice.notice-warning .notice-subtitle, .wpeo-notice.notice-warning a {
  color: #e9ad4f;
}

/** Success */
.wpeo-notice.notice-success {
  border-left: solid #47e58e 6px;
  color: #47e58e;
  background: rgba(71, 229, 142, 0.05);
}
.wpeo-notice.notice-success::before {
  content: "\f058";
}
.wpeo-notice.notice-success .notice-title, .wpeo-notice.notice-success .notice-subtitle, .wpeo-notice.notice-success a {
  color: #47e58e;
}

/*--------------------------------------------------------------
	Module : Form
	Version : 1.0.0
	--------------------------------------------------------------*/
/** Reset des champs de base */
.wpeo-form input, .wpeo-form textarea, .wpeo-form select {
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  background: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
  padding: 1em 0.5em;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.wpeo-form input:focus, .wpeo-form input:active, .wpeo-form textarea:focus, .wpeo-form textarea:active, .wpeo-form select:focus, .wpeo-form select:active {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.wpeo-form select {
  padding: 1em 0;
}
.wpeo-form input[type=submit] {
  width: auto;
}

/** compatibilité Date */
.wpeo-form .group-date .mysql-date {
  display: none;
}

/* Compatibility Dropdown */
.wpeo-form .wpeo-dropdown {
  display: block;
  width: 100%;
}
.wpeo-form .wpeo-dropdown .dropdown-toggle {
  width: 100%;
  display: block;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border: 0;
  font-size: 14px;
  padding: 1em 2em 1em 1em;
  margin: 0;
}
.wpeo-form .wpeo-dropdown .dropdown-toggle:hover {
  cursor: pointer;
}
.wpeo-form .wpeo-dropdown .dropdown-toggle > .svg-inline--fa {
  position: absolute;
  right: 1em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.wpeo-form .form-element.disable .dropdown-toggle > .svg-inline--fa {
  display: none;
}

/* Compatibility Autocomplete */
.wpeo-form .wpeo-autocomplete {
  display: block;
  width: 100%;
}
.wpeo-form .wpeo-autocomplete .autocomplete-label {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0.74em 1em;
}

.wpeo-form.form-light .wpeo-autocomplete .autocomplete-label {
  background: #fff;
}
.wpeo-form.form-light .wpeo-autocomplete .autocomplete-label:hover {
  background: #ececec;
}

/** Général */
.wpeo-form .form-element input[type=radio].form-field {
  display: inline-block;
  width: auto;
}

/** Design */
.wpeo-form .form-element input[type=radio].form-field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  padding: 0;
  border: 0;
  background: transparent !important;
  border: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  outline: none;
  position: relative;
  top: 2px;
}
.wpeo-form .form-element input[type=radio].form-field::before {
  display: none !important;
  content: "" !important;
}
.wpeo-form .form-element input[type=radio].form-field:hover {
  cursor: pointer;
  border: 1px solid #0d8aff;
  -webkit-box-shadow: 0 0 0 1px #0d8aff inset;
  box-shadow: 0 0 0 1px #0d8aff inset;
  background: transparent !important;
}
.wpeo-form .form-element input[type=radio].form-field:checked {
  border: 1px solid #0d8aff;
  -webkit-box-shadow: 0 0 0 4px #0d8aff inset;
  box-shadow: 0 0 0 4px #0d8aff inset;
}
.wpeo-form .form-element input[type=radio].form-field + label {
  text-transform: none;
  font-weight: 400;
  font-size: 14px;
  display: inline-block;
  margin-right: 1em;
}
.wpeo-form .form-element input[type=radio].form-field + label:hover {
  cursor: pointer;
}
.wpeo-form .form-element input[type=radio].form-field + label:active {
  outline: none;
}

/** Général */
.wpeo-form .form-element input[type=checkbox].form-field {
  display: inline-block;
  width: auto;
}

/** Design */
.wpeo-form .form-element input[type=checkbox].form-field {
  width: auto;
  visibility: hidden;
  display: none;
}
.wpeo-form .form-element input[type=checkbox].form-field + label {
  text-transform: none;
  font-weight: 400;
  font-size: 14px;
  display: inline-block;
  margin-right: 1em;
  position: relative;
}
.wpeo-form .form-element input[type=checkbox].form-field + label:hover {
  cursor: pointer;
}
.wpeo-form .form-element input[type=checkbox].form-field + label:active {
  outline: none;
}
.wpeo-form .form-element input[type=checkbox].form-field + label::before {
  display: inline-block;
  content: "";
  width: 14px;
  height: 14px;
  background: transparent;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4);
  border: 2px solid #fff;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  margin-right: 0.6em;
}
.wpeo-form .form-element input[type=checkbox].form-field:not(:checked) + label:hover::before {
  -webkit-box-shadow: 0 0 0 2px #0d8aff;
  box-shadow: 0 0 0 2px #0d8aff;
}
.wpeo-form .form-element input[type=checkbox].form-field:checked + label::before {
  -webkit-box-shadow: 0 0 0 2px #0d8aff;
  box-shadow: 0 0 0 2px #0d8aff;
  background: #0d8aff;
}

/** Formulaire design */
.wpeo-form .form-element {
  width: 100%;
}
.wpeo-form .form-element .form-label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin: 0.6em 0;
  color: rgba(0, 0, 0, 0.9);
}
.wpeo-form .form-element .form-field-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.wpeo-form .form-element .form-field-container:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.wpeo-form .form-element .form-field {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border-radius: 0;
}
.wpeo-form .form-element .form-field:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.wpeo-form .form-element .form-sublabel {
  font-size: 12px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.6);
}

/** Alignement */
.wpeo-form .form-element .form-field-inline {
  margin-right: 0.4em;
}
.wpeo-form .form-element.form-align-vertical .form-field-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.wpeo-form .form-element.form-align-horizontal .form-field-container {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/** Couleur */
.wpeo-form .form-element .form-field-container .form-field, .wpeo-form .form-element .form-field-container [class*=form-field-icon] {
  background: #ececec;
}
.wpeo-form .form-element .form-field-container:hover .form-field, .wpeo-form .form-element .form-field-container:hover [class*=form-field-icon] {
  background: #dfdfdf;
}
.wpeo-form .form-element [class*=form-field-label] {
  background: #dfdfdf;
}

.wpeo-form.form-light .form-element .form-field-container .form-field, .wpeo-form.form-light .form-element .form-field-container [class*=form-field-icon] {
  background: #fff;
}
.wpeo-form.form-light .form-element .form-field-container:hover .form-field, .wpeo-form.form-light .form-element .form-field-container:hover [class*=form-field-icon] {
  background: #ececec;
}
.wpeo-form.form-light .form-element [class*=form-field-label] {
  background: #ececec;
}

/** Icone */
.wpeo-form .form-element [class*=form-field-icon] {
  padding: 0.8em 0 0.8em 0.8em;
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.wpeo-form .form-element [class*=form-field-icon] [class*=fa] {
  vertical-align: middle;
}
.wpeo-form .form-element .form-field-icon-prev {
  padding: 0.8em 0 0.8em 0.8em;
}
.wpeo-form .form-element .form-field-icon-next {
  padding: 0.8em 0.8em 0.8em 0;
}

/** Previous & next label */
.wpeo-form .form-element [class*=form-field-label] {
  padding: 1.2em 1em;
  font-size: 12px;
}
.wpeo-form .form-element .form-field-label-prev {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.wpeo-form .form-element .form-field-label-next {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

/** Required */
.wpeo-form .form-element.form-element-required .form-label::after {
  display: inline-block;
  content: "*";
  color: #e05353;
  padding: 0 0.4em;
}

/** Erreur sur un champs */
.wpeo-form .form-element.form-element-error .form-field-container {
  border: 1px solid #e05353;
}

/** Champs disabled */
.wpeo-form .form-element.form-element-disable .form-field-container {
  opacity: 0.6;
  pointer-events: none;
}

/* Simple */
/* Moderne */
.digirisk-signature-container {
  max-width: 800px;
  background: #fff;
  -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  margin: 1.5em auto 0 auto;
  padding: 2em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.digirisk-signature-container * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.digirisk-signature-container .signature .signature-element .wpeo-button.modal-signature-open {
  display: none;
}
.digirisk-signature-container .signature .signature-element img {
  width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.4) !important;
}