div.mainmenu.dolisirh {
    background-image: none;
}

div.mainmenu.dolisirh::before {
    content: "\f2c2";
}

.pictoDoliSIRH {
    vertical-align: middle;
    text-align: left;
    width: 20px;
    padding-right: 4px;
}